doctype html
html(lang='en')
  head
    title='Grave Runner'
    link(
        rel='stylesheet'
        type='text/css'
        href='game.css'
    )
  body
    .root
        include background.pug
        input(type='checkbox' id='start' autocomplete='off')
        .menu
            h1 GRAVE RUNNER
            label.start(for='start')
                span ENTER IF YOU DARE
            p.text
                b INSTRUCTIONS
                br
                | Use mouse cursor to control the Grave Runner
                |
                | Don't run into tombs or else...
        - var n = 0
        .cell-wrapper
            .cell-grid
                while n < 100
                    .cell
                    - n++
                .scene
                    embed(src='assets/Bone_Yard_Waltz.ogg' loop='true' autostart='true' width='2' height='0')
                    .person
                        include person.svg
                    .perspective-wrapper
                        .angled-backdrop
                            .mountain
                        .angled-platform
                            .looping-floor
                                .road-path
                                - for (var i = 0; i < 100; i+=2)
                                    div(class='obstacle obstacle-' + i)
                                        include ghost.svg
                                - for (var i = 1; i < 100; i+=2)
                                    div(class='obstacle obstacle-' + i)
                                        include tombstone.svg
                            .dist-fade-overlay
