@use 'sass:math';
/**
* Vars
*/
$floorCheckerSize: 50px;
$floorWidth: 15em;
$floorDist: 40em;
$floorLoopDist: 20em;
$floorMoveDuration: 10s;
$roadColor: gray;
$menuSize: 10em;
$skyColor: skyblue;
$roadPath: 'M 100 0 H 400 V 900 C 400 1200 550 1200 550 1500 V 2500 H 200 V 1500 C 200 1200 101 1200 100 900 z';

html,
body {
    margin: 0;
    height: 100%;
    font: 100 50px Trebuchet, sans-serif;
    overflow: hidden;
}

.root {
    position: relative;
    background: lightgray;
    min-height: 100%;

    // hide all inputs and use labels to toggle
    >input {
        display: none
    }
}

/**
* Main Menu
*/
.menu {
    position: absolute;
    z-index: 999;
    top: 15%;
    left: calc(50% - $menuSize / 2);

    width: $menuSize;
    height: $menuSize;
    border-radius: 10%;

    padding: 1em;
    background: green;
    text-align: center;

    >.start {
        background: blue;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
    }

    // hide menu on start click
    #start:checked~& {
        animation: 1s ease-in 0s 1 normal both running exitup;
    }
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: $skyColor;

    perspective: 10em;
    perspective-origin: 50% 45%;
    transform-style: preserve-3d;

    #start:checked ~ & {
        animation:
            // fade in on start
            1s linear 0.2s 1 normal both running fadein,
            // sway scene in x axis
            4s ease-in-out 0s infinite alternate both running sway-perspective;
    }
}

.angled-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: $skyColor;
    z-index: 1;
    transform: translateZ(-20em) translateY(-50%);
}

.angled-platform {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: $skyColor;
    transform: translateZ(-20em) translateY(50%) rotateX(90deg);
}

.looping-floor {
    position: absolute;
    width: $floorWidth;
    height: $floorDist;
    left: calc(50% - $floorWidth / 2);

    // checkerboard pattern
    background:
        repeating-conic-gradient(gray 0% 25%, white 0% 50%)
        50% / 50px
        50px;

    animation: $floorMoveDuration linear 0s infinite normal both running floorLoopZ;

    > .road-path {
        position: relative;
        width: 100%;
        height: 95%;
        clip-path: path($roadPath);
        background: $roadColor;
    }
}

.dist-fade-overlay {
    position: absolute;
    background: linear-gradient($skyColor, #0000);
    width: $floorWidth;
    height: 80%;
    left: calc(50% - $floorWidth / 2);
}

/**
* Grid Cells
*/
.cell {
    &-wrapper {
        position: absolute;
    }

    &-grid {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(100, 1fr);
    }

    width: 100%;
    height: 100%;
    z-index: 5;
}

/**
* Car movement
*/

@for $i from 0 to 100 {
   .cell:nth-child(#{$i + 1}):hover ~ .car-wrapper > .car {
        @if $i <= 5 {
            left: 0;
        } @else if $i >= 95 {
            left: 90%;
        } @else {
            left: calc(($i * 1%) - 5%);
        }
    }
}

.car {
    &-wrapper {
        --car-position-x: 5;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    position: absolute;
    width: 10%;
    height: 10vh;
    bottom: 5vh;
    background-color: aqua;
    z-index: 4;
}

/**
* Keyframes
*/
@keyframes exitup {
    to {
        top: -100%
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floorLoopZ {
    from {
        transform: translateY(-10em);
    }
    to {
        transform: translateY(calc($floorLoopDist - 10em));
    }
}

@keyframes sway-perspective {
    from { perspective-origin: 40% 45% }
    to { perspective-origin: 60% 45% }
}
