doctype html
html(lang='en')
  head
    title='Untitiled game'
    link(
        rel='stylesheet'
        type='text/css'
        href='game.css'
    )
  body
    .root
        input(type='checkbox' id='start' autocomplete='off')
        .menu
            h4 Untitled Game
            label.start(for='start') Start
        - var n = 0
        .cell-wrapper
            .cell-grid
                while n < 100
                    .cell
                    - n++
                .scene
                    .person
                        include person.svg
                    .perspective-wrapper
                        .angled-backdrop
                        .angled-platform
                            .looping-floor
                                .road-path
                                - for (var i = 0; i < 100; i++)
                                    div(class='obstacle obstacle-' + i)
                            .dist-fade-overlay
