@use 'sass:math';
/**
* Vars
*/
$floorCheckerSize: 50px;
$floorWidth: 15em;
$floorDist: 250em;
$floorLoopStartDist: -210em;
$floorLoopEndDist: 0em;
$floorMoveDuration: 30s;

$menuSize: 10em;
$skyColor: skyblue;
$roadColor: gray;
$roadPath: 'M 100 0 h 300 V 1300 c 0 500 150 500 150 1000 v 1000 c 0 500 -150 500 -150 1000 v 1000 c 0 500 150 500 150 1000 v 1000 c 0 500 150 500 150 1000 v 1000 c 0 1000 -300 1000 -300 2000 v 1300 h -300 v -1300 c 0 -1000 300 -1000 300 -2000 v -1000 c 0 -500 -150 -500 -150 -1000 v -1000 c 0 -500 -150 -500 -150 -1000 v -1000 c 0 -500 150 -500 150 -1000 v -1000 c 0 -500 -100 -500 -150 -1000 z';

html,
body {
    margin: 0;
    height: 100%;
    font: 100 50px Trebuchet, sans-serif;
    overflow: hidden;
}

.root {
    position: relative;
    background: lightgray;
    min-height: 100%;

    // hide all inputs and use labels to toggle
    >input {
        display: none
    }
}

/**
* Main Menu
*/
.menu {
    position: absolute;
    z-index: 999;
    top: 15%;
    left: calc(50% - $menuSize / 2);

    width: $menuSize;
    height: $menuSize;
    border-radius: 10%;

    padding: 1em;
    background: green;
    text-align: center;

    >.start {
        background: blue;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
    }

    // hide menu on start click
    #start:checked~& {
        animation: 1s ease-in 0s 1 normal both running exitup;
    }
}

.scene {
    opacity: 0;
    top: 0;
    background: $skyColor;
    position: absolute;
    width: 100%;
    height: 100%;

    #start:checked ~ .cell-wrapper > .cell-grid > & {
        // fade in on start
        animation: 1s linear 0.2s 1 normal both running fadein;
    }

    & > .perspective-wrapper {
        height: 100vh;
        transition: 0.5s;
        perspective: 10em;
        perspective-origin: 50% 45%;
        transform-style: preserve-3d;
    }
}


.angled-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: $skyColor;
    z-index: 1;
    transform: translateZ(-20em) translateY(-50%);
}

.angled-platform {
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: $skyColor;
    transform: translateZ(-20em) translateY(50%) rotateX(90deg);
}

.looping-floor {
    position: absolute;
    width: $floorWidth;
    height: $floorDist;
    left: calc(50% - $floorWidth / 2);

    // checkerboard pattern
    background:
        repeating-conic-gradient(gray 0% 25%, white 0% 50%)
        50% / 50px
        50px;

    animation: $floorMoveDuration linear 0s infinite normal both running floorLoopZ;

    > .road-path {
        position: relative;
        width: 100%;
        height: 100%;
        clip-path: path($roadPath);
        background: $roadColor;
    }
}

.dist-fade-overlay {
    position: absolute;
    background: linear-gradient($skyColor, #0000);
    width: $floorWidth;
    height: 80%;
    left: calc(50% - $floorWidth / 2);
}

/**
* Grid Cells
*/
.cell {
    &-wrapper {
        position: absolute;
    }

    &-grid {
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        display: grid;
        grid-template: repeat(1, 1fr) / repeat(100, 1fr);
    }

    width: 100%;
    height: 100%;
    z-index: 5;
}

/**
* Hover input processing
*/

@for $i from 0 to 100 {
    // move car in x - axis
   .cell:nth-child(#{$i + 1}):hover ~ .scene > .car-wrapper > .car {
        @if $i <= 5 {
            left: 0;
        } @else if $i >= 95 {
            left: 90%;
        } @else {
            left: calc(($i * 1%) - 5%);
        }
    }

    // change perspective cam in x - axis
   .cell:nth-child(#{$i + 1}):hover ~ .scene > .perspective-wrapper {
        @if $i <= 10 {        perspective-origin: 37% 45%;
        } @else if $i <= 20 { perspective-origin: 40% 45%;
        } @else if $i <= 30 { perspective-origin: 43% 45%;
        } @else if $i <= 40 { perspective-origin: 45% 45%;
        } @else if $i <= 50 { perspective-origin: 47% 45%;
        } @else if $i <= 60 { perspective-origin: 50% 45%;
        } @else if $i <= 70 { perspective-origin: 53% 45%;
        } @else if $i <= 80 { perspective-origin: 55% 45%;
        } @else if $i <= 90 { perspective-origin: 57% 45%;
        } @else {             perspective-origin: 60% 45%;
        }
    }
}

.car {
    &-wrapper {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    position: absolute;
    width: 10%;
    height: 10vh;
    bottom: 5vh;
    background-color: aqua;
    z-index: 4;
}

/**
* Keyframes
*/
@keyframes exitup {
    to {
        top: -100%
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floorLoopZ {
    from {
        transform: translateY($floorLoopStartDist);
    }
    to {
        transform: translateY($floorLoopEndDist);
    }
}
