doctype html
html(lang='en')
  head
    title='Untitiled game'
    link(
        rel='stylesheet'
        type='text/css'
        href='game.css'
    )
  body
    .root
        input(type='checkbox' id='start' autocomplete='off')
        .menu
            h4 Untitled Game
            label.start(for='start') Start
        .scene
            .angled-backdrop
            .angled-platform
                .looping-floor
                    .road-path
                .dist-fade-overlay
